html {
    height: 100%;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
  }
  body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: linear-gradient(#141e30, #243b55);
  }
  
  .login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
  }
  
  .login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }
  
  .login-box a:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
  }
  
  .login-box a span {
    position: absolute;
    display: block;
  }
  
  .login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  
  .login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
  .login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
  .login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }
  
  .button {
    --background: #1E2235;
    --color: #F6F8FF;
    --shadow: rgba(0, 9, 61, 0.24);
    --cannon-dark: #A6ACCD;
    --cannon-light: #F6F8FF;
    --cannon-shadow: rgba(13, 15, 24, 0.9);
    --confetti-1: #892AB8;
    --confetti-2: #EA4C89;
    --confetti-3: #FFFF04;
    --confetti-4: #4AF2FD;
    --z-before: -6;
    display: block;
    outline: none;
    cursor: pointer;
    position: relative;
    border: 0;
    background: none;
    padding: 9px 22px 9px 16px;
    line-height: 26px;
    font-family: inherit;
    font-weight: 600;
    font-size: 14px;
    color: var(--color);
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    transition: transform var(--transform-duration, 0.4s);
    will-change: transform;
    transform-style: preserve-3d;
    transform: perspective(440px) rotateX(calc(var(--rx, 0) * 1deg)) rotateY(calc(var(--ry, 0) * 1deg)) translateZ(0);
  }
  .button:hover {
    --transform-duration: .16s;
  }
  .button.success {
    --confetti-scale: 0;
    --stroke-dashoffset: 15;
  }
  .button:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 12px;
    transform: translateZ(calc(var(--z-before) * 1px));
    background: var(--background);
    box-shadow: 0 4px 8px var(--shadow);
  }
  .button .icon,
  .button span {
    display: inline-block;
    vertical-align: top;
    position: relative;
    z-index: 1;
  }
  .button .icon {
    --z: 2px;
    width: 24px;
    height: 14px;
    margin: 8px 16px 0 0;
    transform: translate(calc(var(--icon-x, 0) * 1px), calc(var(--icon-y, 0) * 1px)) translateZ(2px);
  }
  .button .icon .confetti {
    position: absolute;
    left: 17px;
    bottom: 9px;
  }
  .button .icon .confetti svg {
    width: 18px;
    height: 16px;
    display: block;
    stroke-width: 1px;
    fill: none;
    stroke-linejoin: round;
    stroke-linecap: round;
  }
  .button .icon .confetti svg * {
    transition: stroke-dashoffset 0.2s;
    stroke-dasharray: 15 20;
    stroke-dashoffset: var(--stroke-dashoffset, 0);
    stroke: var(--stroke-all, var(--stroke, var(--confetti-2)));
  }
  .button .icon .confetti svg *:nth-child(2) {
    --stroke: var(--confetti-3);
  }
  .button .icon .confetti svg *:nth-child(3) {
    --stroke: var(--confetti-1);
  }
  .button .icon .confetti .emitter {
    position: absolute;
    left: 4px;
    bottom: 4px;
    pointer-events: none;
  }
  .button .icon .confetti .emitter div {
    width: 4px;
    height: 4px;
    margin: -2px 0 0 -2px;
    border-radius: 1px;
    position: absolute;
    left: 0;
    top: 0;
    transform-style: preserve-3d;
    background: var(--confetti-all, var(--b, none));
  }
  .button .icon .confetti i {
    width: 4px;
    height: 4px;
    display: block;
    transform: scale(var(--confetti-scale, 0.5));
    position: absolute;
    transition: transform 0.25s;
    left: var(--left, -1px);
    top: var(--top, 3px);
    border-radius: var(--border-radius, 1px);
    background: var(--confetti-background, var(--confetti-3));
  }
  .button .icon .confetti i:nth-child(2) {
    --left: 9px;
    --top: -1px;
    --border-radius: 2px;
    --confetti-background: var(--confetti-4);
  }
  .button .icon .confetti i:nth-child(3) {
    --left: 5px;
    --top: 3px;
    --confetti-background: var(--confetti-1);
  }
  .button .icon .confetti i:nth-child(4) {
    --left: 10px;
    --top: 14px;
    --confetti-background: var(--confetti-2);
  }
  .button .icon .confetti i:nth-child(5) {
    --left: 9px;
    --top: 7px;
    --confetti-background: var(--confetti-4);
  }
  .button .icon .confetti i:nth-child(6) {
    --left: 6px;
    --top: 8px;
    --border-radius: 2px;
    --confetti-background: var(--confetti-2);
  }
  .button .icon .cannon {
    position: relative;
    width: 24px;
    height: 14px;
    transform: translate(0, 3px) rotate(-45deg);
    filter: drop-shadow(-2px 2px 2px var(--cannon-shadow));
  }
  .button .icon .cannon:before, .button .icon .cannon:after {
    content: "";
    display: block;
    height: 14px;
  }
  .button .icon .cannon:before {
    background: linear-gradient(var(--cannon-dark), var(--cannon-light) 50%, var(--cannon-dark));
    width: 100%;
    -webkit-clip-path: polygon(25px -1px, 0 52%, 25px 15px);
    clip-path: polygon(25px -1px, 0 52%, 25px 15px);
  }
  .button .icon .cannon:after {
    width: 6px;
    position: absolute;
    right: -3px;
    top: 0;
    border-radius: 50%;
    box-shadow: inset 0 0 0 0.5px var(--cannon-light);
    background: linear-gradient(90deg, var(--cannon-dark), var(--cannon-light));
  }
  .button.white {
    --background: #fff;
    --color: #1E2235;
    --border: #E1E6F9;
    --shadow: none;
    --cannon-dark: #103FC5;
    --cannon-light: #275EFE;
    --cannon-shadow: rgba(0, 9, 61, 0.2);
  }
  .button.white:before {
    box-shadow: inset 0 0 0 1px var(--border);
  }
  .button.grey {
    --background: #404660;
    --cannon-shadow: rgba(13, 15, 24, 0.2);
    --cannon-dark: #D1D6EE;
    --cannon-light: #FFFFFF;
  }
  
  * {
    box-sizing: inherit;
  }
  *:before, *:after {
    box-sizing: inherit;
  }
  body .button {
    margin: 0 12px;
  }